node_modules
.DS_Store
dist
out
.next
coverage
cache
build
artifacts
foundry.toml.lock
.env*
**/.env*
apps/web/.env.local
apps/web/.env.sepolia

scripts/deploy-sepolia.sh
packages/contracts/broadcast/
